<app-side-bar></app-side-bar>

<div class="page-wrapper">
  <!-- Bread crumb -->
  <app-breadcrumb pageTitle="Add An Admin"></app-breadcrumb>

  <!-- Container fluid  -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-lg-8 col-md-10 mx-auto">
        <div class="card">
          <form
            (ngSubmit)="submitForm()"
            class="form-horizontal"
            ngNativeValidate
          >
            <div class="card-header">
              <h4 class="card-title">Administrator Information</h4>
            </div>
            <div class="card-body">
              <div class="form-group row">
                <label
                  for="name"
                  class="col-sm-3 text-right control-label col-form-label"
                  >Public Name</label
                >
                <div class="col-sm-9">
                  <input
                    [(ngModel)]="name"
                    name="data"
                    type="text"
                    class="form-control"
                    id="data"
                    placeholder="Public displayable name"
                    required
                  />
                </div>
              </div>
              <div class="form-group row">
                <label
                  for="username"
                  class="col-sm-3 text-right control-label col-form-label"
                  >User Name</label
                >
                <div class="col-sm-9">
                  <input
                    [(ngModel)]="username"
                    name="data"
                    type="text"
                    class="form-control"
                    id="data"
                    placeholder="Username"
                    required
                  />
                </div>
              </div>
              <div class="form-group row">
                <label
                  for="email"
                  class="col-sm-3 text-right control-label col-form-label"
                  >Email</label
                >
                <div class="col-sm-9">
                  <input
                    [(ngModel)]="email"
                    name="data"
                    type="email"
                    class="form-control"
                    id="data"
                    placeholder="Email Address"
                    required
                  />
                </div>
              </div>
              <div class="form-group row">
                <label
                  for="password"
                  class="col-sm-3 text-right control-label col-form-label"
                  >Password</label
                >
                <div class="col-sm-9">
                  <input
                    [(ngModel)]="password"
                    name="data"
                    type="password"
                    class="form-control"
                    id="data"
                    placeholder="Password"
                    required
                  />
                </div>
              </div>
            </div>
            <div class="border-top">
              <div class="card-body text-right">
                <button type="submit" class="col-3 btn btn-success mx-2">
                  Submit
                </button>
                <button type="reset" class="col-3 btn btn-primary mx-2">
                  Reset
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
