.customcontainer4{
    background-color:#D3D3D3;
    /* border-style: solid; */
    /* border-color:#0099ff; */
    /* border-radius: 3ch; */
   
    margin: 4ch;
}


.customcontainer7{
    margin-top: 1.5ch;
}

.custombutton1{
    float:right;
}

.row{
    display:inline-block;
}

.custombutton2{
    margin-left: 8ch;
}

.heading1{
    font-family:"Times New Roman", Times, serif;
}
