@import '../../../../node_modules/@angular/material/prebuilt-themes/indigo-pink.css';

.landing {
  background-color: rgb(233, 233, 236);
}

.header {
  margin-left: 230px;
}

.description {
  margin-left: 200px;
}

.row {
  margin-top: 30px;
}
