<section>
    <div class="container">
      <div class="card-wrappper">
        <h1 class="heading">My Profile | <span style="color: rgb(241, 55, 92);">Change Your Password</span></h1>
          <div class="card">
            <img src="assets/images/profile_background.jpg" alt="card background" class="card-img">
            <img src=" assets/images/my_profile_image.jpg" alt="profile image" class="profile-img">
            <h2>{{user.email}}</h2>
            <h5 style="color: crimson; font-size: 18px; margin: 12px 0; "><i class="fas fa-star"></i> {{user.username}}</h5>

            <form [formGroup]="changepwdForm" (ngSubmit)="onSubmit(currentpwd.value, newpwd.value)">
              <div class="form-group">
                <label style="padding: 5px 2px; color: rgb(12, 105, 24); font-size: 15px; font-weight: 900;">Current Password</label>
                <input style="padding: 3px 10px; border-radius: 1rem; min-width: 15rem;" type="password" class="form-control" formControlName="currentpwd" #currentpwd required>
              </div>
              <div class="form-group">
                  <label style="padding: 5px 2px; color: rgb(12, 105, 24); font-size: 15px; font-weight: 900;">New Password</label>
                  <input style="padding: 3px 10px; border-radius: 1rem; min-width: 15rem;" type="password" class="form-control" formControlName="newpwd" #newpwd required>
              </div>
              <div class="form-group">
                  <label style="padding: 5px 2px; color: rgb(12, 105, 24); font-size: 15px; font-weight: 900;">Confirm Password</label>
                  <input style="padding: 3px 10px; border-radius: 1rem; min-width: 15rem;" type="password" class="form-control" formControlName="confirmpwd" #confirmpwd required>
              </div>

              <div *ngIf="!(newpwd.value == confirmpwd.value)" style="margin-top: 5px; color: red; font-style: italic;">
                New Passwords do not match
              </div>
              <div *ngIf="!changepwdForm.valid" style="margin-top: 5px; color: red; font-style: italic;">
                Fill out all fields
              </div>

              <div>
                <button [routerLink]="['..', 'myprofile']" routerLinkActive="router-link-active"  class="btn btn-outline-dark" style="margin: 10px 10px 20px 10px; padding: 4px 10px; border-radius: 1rem;">Back</button>
                <button class="btn btn-outline-primary" style="margin: 10px 10px 20px 10px; padding: 4px 10px; border-radius: 1rem;" [disabled]="(!changepwdForm.valid)||(!(newpwd.value == confirmpwd.value))">Submit</button>
              </div>

            </form>

          </div>
        </div>
    </div>
  </section>


