<div class="main">
  <div class="input-group" >
    <input ngModel type="text" class="form-control" placeholder="Search the word here!!!" #word>
    <div class="input-group-append">
      <button  (click)="SubmitWord(word.value)"  class="btn btn-secondary" type="button" >
        <i class="fa fa-search"></i>
      </button>  
    </div>
  </div>
  <div *ngIf="openPartList && PartlistOfWords.length>0 "> <strong><br>Did You Mean...</strong><br>
    <div *ngFor="let part of PartlistOfWords">
      <div class="container con3" (click)="cardSubmit(part[0])" >{{part[1]}} </div><br>
    </div>
  </div>
  <div *ngIf="openPartList && PartlistOfWords.length==0">
     <strong><br><font color="red">Sorry..No related Words.</font></strong>
  </div>
</div> 
  
<div class='container'> 
<h2 class="con1 heading1">Some Words In The System..
  <br>
</h2>

  <div class="container con1" *ngFor="let w of listOfWords;let i=index">
      <div *ngIf="i<4" class="con4 ">
          <div class="con5">
            <p  class="heading1 con2">{{w[1] | titlecase}}</p>
            <div class="con6">
              <button (click)="cardSubmit(w[0])" style="float:right" >view More..</button>
            </div>
            
          </div>
      </div>
  </div>
  
</div>

