<app-side-bar></app-side-bar>

<!-- ============================================================== -->
<!-- Page wrapper  -->
<!-- ============================================================== -->
<div class="page-wrapper">
  <div class="container-fluid">
    <div class="row">
      <!-- column -->
      <div class="col-12">
        <div class="card">
          <form class="form-horizontal">
            <div class="card-body">
              <h4 class="card-title">Search Users</h4>
            </div>
            <div class="form-group col-12 col-lg-10 col-md-10 mx-auto">
              <div class="row">
                <div class="col-10 pl-0">
                  <input
                    #username
                    type="text"
                    class="form-control search-comp"
                    id="username"
                    placeholder="Enter username or email address"
                  />
                </div>
                <div class="col-2">
                  <button
                    type="button"
                    class="btn btn-primary btn-block search-comp"
                    (click)="searchUser(username.value)"
                  >
                    Search
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="row">
      <!-- column -->
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Registerd Users</h4>
          </div>
          <div class="comment-widgets scrollable">
            <!-- Comment Row -->
            <div
              *ngFor="
                let user of userList
                  | paginate: { itemsPerPage: 10, currentPage: p };
                let i = index
              "
              class="d-flex flex-row comment-row m-t-0"
            >
              <div class="p-2">
                <img
                  src="assets/images/users/user_icon.png"
                  alt="user"
                  width="50"
                  class="rounded-circle"
                />
              </div>
              <div class="comment-text w-100">
                <h6 class="font-medium">
                  <b>{{ user.name }}</b> ({{ user.username }})
                </h6>
                <span class="m-b-15 d-block">
                  {{ user.email }}
                  <span
                    class="badge badge-pill badge-warning ml-3 text-white font-weight-bold"
                    >{{ user.profession }}</span
                  >
                </span>
                <div class="comment-footer">
                  <span class="text-muted float-right">{{
                    user.joinedDate
                  }}</span>
                  <button
                    type="button"
                    class="btn btn-cyan btn-sm btn-dec"
                    (click)="openViewModal(i)"
                  >
                    View Profile
                  </button>
                  <button
                    *ngIf="isAdminUser()"
                    type="button"
                    class="btn btn-danger btn-sm btn-dec"
                    (click)="deleteUser(i)"
                  >
                    Delete Profile
                  </button>
                </div>
              </div>
            </div>

            <pagination-controls
              (pageChange)="p = $event"
            ></pagination-controls>
            <!-- Comment Row -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ============================================================== -->
  <!-- End Page wrapper  -->
  <!-- ============================================================== -->
</div>

<div
  class="modal fade"
  tabindex="-1"
  role="dialog"
  id="viewModel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header bg-light">
        <h4 class="modal-title">{{ selectedUser.name }}</h4>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <table class="mx-auto">
            <tr>
              <td class="text-left"><b>User Name</b></td>
              <td class="text-right"><b> &nbsp; :</b></td>
              <td class="pl-2">{{ selectedUser.username }}</td>
            </tr>
            <tr>
              <td class="text-left"><b>Email Address</b></td>
              <td class="text-right"><b> &nbsp; :</b></td>
              <td class="pl-2">{{ selectedUser.email }}</td>
            </tr>
            <tr>
              <td class="text-left"><b>User Type</b></td>
              <td class="text-right"><b> &nbsp; :</b></td>
              <td class="pl-2">{{ selectedUser.usertype }}</td>
            </tr>
            <tr>
              <td class="text-left"><b>Profession</b></td>
              <td class="text-right"><b> &nbsp; :</b></td>
              <td class="pl-2">{{ selectedUser.profession }}</td>
            </tr>
            <tr>
              <td class="text-left"><b>Birth Date</b></td>
              <td class="text-right"><b> &nbsp; :</b></td>
              <td class="pl-2">{{ selectedUser.birthday }}</td>
            </tr>
            <tr>
              <td class="text-left"><b>Joined Date</b></td>
              <td class="text-right"><b> &nbsp; :</b></td>
              <td class="pl-2">{{ selectedUser.joinedDate }}</td>
            </tr>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
