<app-side-bar></app-side-bar>

<!-- ============================================================== -->
<!-- Page wrapper  -->
<!-- ============================================================== -->
<div class="page-wrapper">
  <div class="container-fluid">
    <div class="row">
      <!-- column -->
      <div class="col-6">
        <div class="card">
          <form class="form-horizontal">
            <div class="card-body">
              <h4 class="card-title">Search Words</h4>
            </div>
            <div class="form-group col-12 col-lg-10 col-md-10 mx-auto">
              <div class="row">
                <div class="col-8 pl-0">
                  <input
                    #word
                    type="text"
                    class="form-control search-comp"
                    id="word"
                    placeholder="Enter the word"
                  />
                </div>
                <div class="col-4">
                  <button
                    type="button"
                    class="btn btn-primary btn-block search-comp"
                    (click)="searchWord(word.value)"
                  >
                    Search
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="col-6">
        <div class="card">
          <form class="form-horizontal">
            <div class="card-body">
              <h4 class="card-title">Search Suggestions</h4>
            </div>
            <div class="form-group col-12 col-lg-10 col-md-10 mx-auto">
              <div class="row">
                <div class="col-8 pl-0">
                  <input
                    #suggestion
                    type="text"
                    class="form-control search-comp"
                    id="suggestion"
                    placeholder="Enter the suggestion"
                  />
                </div>
                <div class="col-4">
                  <button
                    type="button"
                    class="btn btn-primary btn-block search-comp"
                    (click)="searchSuggestion(suggestion.value)"
                  >
                    Search
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="row">
      <!-- column -->
      <div class="col-6">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Words</h4>
          </div>
          <div class="comment-widgets scrollable">
            <!-- Comment Row -->
            <div
              *ngFor="
                let word of wordList
                  | paginate
                    : {
                        id: 'wordPagination',
                        itemsPerPage: 10,
                        currentPage: p
                      };
                let i = index
              "
              class="d-flex flex-row comment-row m-t-0"
            >
              <div class="comment-text w-100">
                <h6 class="font-medium">
                  {{ word.data }}
                  <span
                    class="badge badge-pill badge-warning ml-3 text-white font-weight-bold"
                  >
                    {{ word.state }}
                  </span>
                  <span
                    class="badge badge-pill badge-secondary ml-3 text-white font-weight-bold"
                  >
                    {{ word.activeState }}
                  </span>
                </h6>
                <div class="comment-footer">
                  <span class="text-muted float-right">{{
                    word.createdDate
                  }}</span>
                  <button
                    type="button"
                    class="btn btn-cyan btn-sm btn-dec"
                    (click)="openViewWordModal(i)"
                  >
                    View
                  </button>
                  <button type="button" class="btn btn-success btn-sm btn-dec">
                    Change Status
                  </button>
                  <button type="button" class="btn btn-danger btn-sm btn-dec">
                    Delete
                  </button>
                </div>
              </div>
            </div>

            <pagination-controls
              id="wordPagination"
              (pageChange)="p = $event"
            ></pagination-controls>
            <!-- Comment Row -->
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Suggestions</h4>
          </div>
          <div class="comment-widgets scrollable">
            <!-- Comment Row -->
            <div
              *ngFor="
                let suggestion of suggestionList
                  | paginate
                    : {
                        id: 'suggestionPagination',
                        itemsPerPage: 10,
                        currentPage: q
                      };
                let i = index
              "
              class="d-flex flex-row comment-row m-t-0"
            >
              <div class="comment-text w-100">
                <h6 class="font-medium">
                  {{ suggestion.data }}
                  <span
                    class="badge badge-pill badge-warning ml-3 text-white font-weight-bold"
                  >
                    {{ suggestion.state }}
                  </span>
                </h6>
                <div class="comment-footer">
                  <span class="text-muted float-right">{{
                    suggestion.createdDate
                  }}</span>
                  <button
                    type="button"
                    class="btn btn-cyan btn-sm btn-dec"
                    (click)="openViewSuggestionModal(i)"
                  >
                    View
                  </button>
                  <button type="button" class="btn btn-success btn-sm btn-dec">
                    Change Status
                  </button>
                  <button type="button" class="btn btn-danger btn-sm btn-dec">
                    Delete
                  </button>
                </div>
              </div>
            </div>

            <pagination-controls
              id="suggestionPagination"
              (pageChange)="q = $event"
            ></pagination-controls>
            <!-- Comment Row -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ============================================================== -->
  <!-- End Page wrapper  -->
  <!-- ============================================================== -->
</div>

<div
  class="modal fade"
  tabindex="-1"
  role="dialog"
  id="viewWordModel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header bg-light">
        <h4 class="modal-title">{{ selectedWord.data }}</h4>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <table class="mx-auto">
            <tr>
              <td class="text-left"><b>Description</b></td>
              <td class="text-right"><b> &nbsp; :</b></td>
              <td class="pl-2">{{ selectedWord.description }}</td>
            </tr>
            <tr>
              <td class="text-left"><b>State</b></td>
              <td class="text-right"><b> &nbsp; :</b></td>
              <td class="pl-2">{{ selectedWord.state }}</td>
            </tr>
            <tr>
              <td class="text-left"><b>Active State</b></td>
              <td class="text-right"><b> &nbsp; :</b></td>
              <td class="pl-2">{{ selectedWord.activeState }}</td>
            </tr>
            <tr>
              <td class="text-left"><b>Best Suggestion</b></td>
              <td class="text-right"><b> &nbsp; :</b></td>
              <td class="pl-2">{{ selectedWord.bestSuggestion }}</td>
            </tr>
            <tr>
              <td class="text-left"><b>Start Date</b></td>
              <td class="text-right"><b> &nbsp; :</b></td>
              <td class="pl-2">{{ selectedWord.startDate }}</td>
            </tr>
            <tr>
              <td class="text-left"><b>End Date</b></td>
              <td class="text-right"><b> &nbsp; :</b></td>
              <td class="pl-2">{{ selectedWord.endDate }}</td>
            </tr>
            <tr>
              <td class="text-left"><b>Created Date</b></td>
              <td class="text-right"><b> &nbsp; :</b></td>
              <td class="pl-2">{{ selectedWord.createdDate }}</td>
            </tr>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  tabindex="-1"
  role="dialog"
  id="viewSuggestionModel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header bg-light">
        <h4 class="modal-title">{{ selectedSuggestion.data }}</h4>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <table class="mx-auto">
            <tr>
              <td class="text-left"><b>Votes Count</b></td>
              <td class="text-right"><b> &nbsp; :</b></td>
              <td class="pl-2">{{ selectedSuggestion.votesCount }}</td>
            </tr>
            <tr>
              <td class="text-left"><b>Related Word</b></td>
              <td class="text-right"><b> &nbsp; :</b></td>
              <td class="pl-2">{{ selectedSuggestion.wordId }}</td>
            </tr>
            <tr>
              <td class="text-left"><b>User ID</b></td>
              <td class="text-right"><b> &nbsp; :</b></td>
              <td class="pl-2">{{ selectedSuggestion.userId }}</td>
            </tr>
            <tr>
              <td class="text-left"><b>Active State</b></td>
              <td class="text-right"><b> &nbsp; :</b></td>
              <td class="pl-2">{{ selectedSuggestion.state }}</td>
            </tr>
            <tr>
              <td class="text-left"><b>Created Date</b></td>
              <td class="text-right"><b> &nbsp; :</b></td>
              <td class="pl-2">{{ selectedSuggestion.createdDate }}</td>
            </tr>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
