@import '../../styles/media';

.header {
  width: 100%;
  background-color: #1cd1fe;
  position: fixed;
  left: 0;
  top: 0;
  padding: rem(7px) 0 rem(2px);
  z-index: 1000;
  transform: translateZ(0);
  @include desktop {
    padding: rem(11px) 0 rem(6px);
  }

  &-container {
    padding: 0 rem(5px);
    width: 100%;
    position: relative;
    @include vertical {
      padding: 0;
    }
    @include tablets {
      max-width: rem(704px);
      margin: 0 auto;
      padding: 0 rem(15px);
    }
    @include laptops {
      max-width: rem(960px);
      margin: 0 auto;
      padding: 0 rem(15px);
    }
    @include desktop {
      max-width: rem(1140px);
      margin: 0 auto;
      padding: 0 rem(20px);
    }
  }

  &-logo {
    display: inline-block;
    margin-left: rem(15px);
    @include vertical {
      margin-left: rem(22px);
    }
    @include phones {
      margin-left: rem(35px);
    }
    @include tablets {
      margin-left: rem(5px);
    }
    &__item {
      width: rem(145px);
      height: rem(25px);
      fill: #fff;
      @include tablets {
        width: rem(202px);
        height: rem(35px);
      }
      @include desktop {
        width: rem(212px);
        height: rem(37px);
      }
    }
  }
}

.socials-list {
  &__item {
    margin-right: rem(24px);
    &:last-child {
      margin-right: 0;
    }
  }
  &__link {
    display: inline-block;

    &-item {
      width: rem(22px);
      height: rem(22px);
      fill: #fff;
      transition: 0.3s;

      @include laptopsMDPI {
        &:hover {
          transform: translateY(-20%);
          transition: 0.3s;
        }
      }
    }
    &-item_size {
      width: rem(25px);
      height: rem(25px);
    }
    &-item_color {
      fill: $footer;
    }
  }
}
