<div class="customContainer">
  <div class="custom1 card border-primary col-md-4" style="max-width: 20rem; height:300px;">
    <div class="card-header text-info">Word in English</div>
    <div class="card-body text-primary">
      <h4 class="card-title customword1">{{WordData[0][0] | titlecase}}</h4>
     
    </div>
  </div>
  <div class="custom1 card border-primary col-md-4" style="max-width: 20rem; height:300px;">
    <div class="card-header text-info">Highest Voted Sinhala Word</div>
    <div class="card-body text-primary">
      <h2 class="customsinhalaword">{{WordData[0][1]}} </h2>
    </div>
  </div>
  <div class="custom1 card border-primary col-md-4" style="max-width: 20rem; height:300px;">
    <div class="card-header text-primary">Votes</div>
    <div class="card-body text-success">
      <div class="container md-col-3">
        <h4>Voted By</h4>
        <div class="customcontainer1">{{numofvotes}}</div>
      </div>
    </div>
  </div>
</div>

<div class=" container col-md-6" > 
  <br><br>
  <h2> Add Your Suggestion For Word<font color="blue"> "{{WordData[0][0] | titlecase}}" </font></h2><br>
  <input #suggestion ngModel type="text" class="form-control" placeholder="Enter Suggestion Here..." ><br>
  <div [class.d-none]="show">
      <font color="green">You Successfully Suggested <strong>{{submittedWord}} </strong> for වලාකුළු </font>
  </div>
  <div [class.d-none]="empty">
      <font color="red">Suggested Word Must not be Empty </font>
  </div>
  <br>
  <button class="btn btn-primary" (click)="submit(suggestion.value)" >Submit</button>
</div>

