<div class="border">
  <div class="container  loginbox">
    <mat-card>
      <form (ngSubmit)="userRegister()">
        <div class="form-group">
          <input
            ngModel
            #emailref="ngModel"
            [(ngModel)]="email"
            name="email"
            type="email"
            class="form-control"
            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
            id="email"
            aria-describedby="emailHelp"
            placeholder="                              enter your email"
            required
          />
          <div
            *ngIf="emailref.errors && (emailref.touched || emailref.dirty)"
            class="aler alert-danger"
          >
            <div [hidden]="!emailref.errors?.pattern">
              Enter your email correctly
            </div>
          </div>
        </div>
        <div class="form-group">
          <!-- <label>Username</label> -->
          <input
            [(ngModel)]="username"
            name="username"
            class="form-control"
            id="username"
            placeholder="                              enter username"
            required
          />
        </div>
        <div class="form-group">
          <!-- <label>Password</label> -->
          <input
            [(ngModel)]="password"
            name="password"
            type="password"
            class="form-control"
            id="password"
            placeholder="                              enter password"
            required
          />
        </div>
        <div>
          <button type="submit" class="btn btn-primary btn">Sign Up</button>
        </div>
      </form>
    </mat-card>
  </div>
</div>
