.logo {
  max-width: 150px;
  max-height: 35px;
}

a {
  text-decoration: none;
  transform: scale(1);
  transition-duration: 0.2s;
  color: #fff;
}

a:hover {
  transform: scale(1.1);
  transition-duration: 0.2s;
}
