<section>
  <div class="container">
    <div class="card-wrappper">
      <h1 class="heading">My <span style="color: rgb(241, 55, 92);">Profile</span></h1>
        <div class="card">
          <img src="assets/images/profile_background.jpg" alt="card background" class="card-img">
          <img src=" assets/images/my_profile_image.jpg" alt="profile image" class="profile-img">
          <h2>{{user.username}}</h2>
          <h3 style="color: cornflowerblue; padding-top: 5px; font-style: italic;">{{user.email}}</h3>
          <h5 style="color: crimson; font-size: 18px; margin: 8px 0; "><i class="fas fa-star"></i> User Level: {{user.userLevel}}</h5>

          <div class="row">
              <a [routerLink]="['..', 'addedwords']" routerLinkActive="router-link-active" style="text-decoration: none">
                <div style="padding: 30px 50px;" class="mr-5">
                  <i class="fab fa-weebly" style="font-size: 75px; text-align: center; color: rgb(238, 39, 172);"></i>
                  <h4 style="padding-top: 10px; color: rgb(238, 39, 172); margin-bottom: 5px;"> My Words </h4>
                  <span class="badge badge-danger" style="color: white; background-color: rgb(238, 39, 172)"><p style="padding: 4px 12px;">{{words.length}}</p></span>
                </div>
              </a>
              <a [routerLink]="['..', 'mycomments']" routerLinkActive="router-link-active" style="text-decoration: none">
                <div style="padding: 30px 50px;">
                  <i class="fas fa-feather" style="font-size: 75px; text-align: center; color: rgb(30, 71, 255);"></i>
                  <h4 style="padding-top: 10px; color: rgb(30, 71, 255); margin-bottom: 5px;"> My Comments </h4>
                  <span class="badge badge-primary" style="color: white; background-color: rgb(30, 71, 255)"><p style="padding: 4px 12px;">{{comments.length}}</p></span>
                </div>
              </a>
              <a [routerLink]="['..', 'suggestedwords']" routerLinkActive="router-link-active" style="text-decoration: none">
                <div style="padding: 30px 50px;" class="ml-2">
                    <i class="fas fa-lightbulb" style="font-size: 75px; text-align: center; color: rgb(4, 182, 28);"></i>
                    <h4 style="padding-top: 10px; color: rgb(29, 161, 46); margin-bottom: 5px;"> My Suggestions </h4>
                    <span class="badge badge-success"><p style="padding: 4px 12px;">{{suggestions.length}}</p></span>
                </div>
              </a>
          </div>

          <div class="container">
            <h4>Member since</h4><p style="color: cornflowerblue">{{user.joinedDate}}</p>
            <h4>Name</h4>
              <p *ngIf="user.name!='undefined'" style="color: cornflowerblue">{{user.name}}</p>
              <p *ngIf="user.name=='undefined'" style="color: cornflowerblue">Not Set</p>
            <h4>Profession</h4>
              <p *ngIf="user.profession!='undefined'" style="color: cornflowerblue">{{user.profession}}</p>
              <p *ngIf="user.profession=='undefined'" style="color: cornflowerblue">Not Set</p>
            <h4>Birth Day</h4>
              <p *ngIf="user.birthday!='undefined'" style="color: cornflowerblue">{{user.birthday}}</p>
              <p *ngIf="user.birthday=='undefined'" style="color: cornflowerblue">Not Set</p>
          </div>

          <div class="row">
            <button [routerLink]="['..', 'editdetails']" routerLinkActive="router-link-active"  class="btn btn-outline-danger" style="margin: 20px 10px; padding: 4px 10px;"><i class="fas fa-edit"></i> Edit My Details</button>
            <button [routerLink]="['..', 'changepassword']" routerLinkActive="router-link-active" class="btn btn-outline-warning" style="margin: 20px 10px; padding: 4px 10px;"><i class="fas fa-lock"></i> Change Password</button>
          </div>

        </div>
      </div>
  </div>
</section>
