@import '../../../../node_modules/@angular/material/prebuilt-themes/indigo-pink.css';

.border {
  background-color: rgb(233, 233, 236);
  width: 100%;
  height: 600px;
  background-image: url('../../../assets/img/svg/login.jpg');
}
