<header class="header" fxLayout="column" fxLayoutAlign="left start">
  <div
    class="header-container"
    fxLayout="row"
    fxLayoutAlign="space-between center"
  >
    <a
      class="header-logo"
      role="link"
      aria-label="2muchcoffee website"
      href="https://google.com"
      target="_blank"
      rel="noopener"
    >
      <font size="30" color="white"><b>WADAN PABANDUMA</b></font>
      <!-- <svg class="header-logo__item">
        <use xlink:href="/assets/img/svg/sprite.min.svg#2mclogo"></use>
      </svg> -->
    </a>

    <div class="header-socials" fxHide="true" fxHide.gt-xs="false">
      <ul class="socials-list" fxLayout="row">
        <li
          class="socials-list__item"
          *ngFor="let headerSocialsItem of headerSocialsList"
        >
          <a
            class="socials-list__link"
            [href]="headerSocialsItem.linkPath"
            [attr.aria-label]="headerSocialsItem.ariaLabel"
            role="link"
            target="_blank"
            rel="noopener"
          >
            <svg
              class="socials-list__link-item"
              [class.socials-list__link-item_size]="headerSocialsItem.modifier"
            >
              <use [attr.xlink:href]="[headerSocialsItem.imgPath]"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>
