// colors
$darkBlue: #373a85;
$footer: #3d278c;
$robot: #e7c563;
$satellite: #c86f85;
$rocket: #a75fa2;
$train: #8d5db4;
$ufo: #5b19a9;
$one: #5b40b7;

// resolutions
$desktop: 1920px;
$laptopsHDPI: 1440px;
$laptopsMDPI: 1280px;
$laptops: 960px;
$tablets: 600px;
$phones: 480px;
$vertical: 321px;

@function rem($px) {
  @return $px / 16px + 0rem;
}

@mixin desktop {
  @media screen and (min-width: $desktop) {
    @content;
  }
}

@mixin laptopsHDPI {
  @media screen and (min-width: $laptopsHDPI) {
    @content;
  }
}

@mixin laptopsMDPI {
  @media screen and (min-width: $laptopsMDPI) {
    @content;
  }
}

@mixin laptops {
  @media screen and (min-width: $laptops) {
    @content;
  }
}

@mixin tablets {
  @media screen and (min-width: $tablets) {
    @content;
  }
}

@mixin phones {
  @media screen and (min-width: $phones) {
    @content;
  }
}

@mixin vertical {
  @media screen and (min-width: $vertical) {
    @content;
  }
}

@mixin border-right {
  background-repeat: no-repeat;
  background-size: 3px 100%, 30% 3px, 3px 30%, 100% 3px,
    calc(100% - 8px) calc(100% - 8px);
  background-position: left bottom, left bottom, right top, right top, 4px 4px;
  @include tablets {
    background-size: 4px 100%, 30% 4px, 4px 30%, 100% 4px,
      calc(100% - 8px) calc(100% - 8px);
  }
  @include desktop {
    background-size: 5px 100%, 50% 5px, 5px 30%, 100% 5px,
      calc(100% - 8px) calc(100% - 8px);
  }
}

@mixin border-left {
  background-repeat: no-repeat;
  background-size: 3px 30%, 100% 3px, 3px 100%, 30% 3px,
    calc(100% - 8px) calc(100% - 8px);
  background-position: left top, left top, right bottom, right bottom, 4px 4px;
  @include tablets {
    background-size: 4px 30%, 100% 4px, 4px 100%, 30% 4px,
      calc(100% - 8px) calc(100% - 8px);
  }
  @include desktop {
    background-size: 5px 30%, 100% 5px, 5px 100%, 50% 5px,
      calc(100% - 8px) calc(100% - 8px);
  }
}

@mixin border-color($color) {
  background-image: linear-gradient($color, $color),
    linear-gradient($color, $color), linear-gradient($color, $color),
    linear-gradient($color, $color);
}
