<app-side-bar></app-side-bar>

<div class="page-wrapper">
  <!-- Bread crumb -->
  <app-breadcrumb pageTitle="Insert A Word"></app-breadcrumb>

  <!-- Container fluid  -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-lg-8 col-md-10 mx-auto">
        <div class="card">
          <form
            (ngSubmit)="submitForm()"
            class="form-horizontal"
            ngNativeValidate
          >
            <div class="card-header">
              <h4 class="card-title">Word Informations</h4>
            </div>
            <div class="card-body">
              <div class="form-group row">
                <label
                  for="word"
                  class="col-sm-3 text-right control-label col-form-label"
                  >Word</label
                >
                <div class="col-sm-9">
                  <input
                    [(ngModel)]="data"
                    name="data"
                    type="text"
                    class="form-control"
                    id="data"
                    placeholder="English word"
                    required
                  />
                </div>
              </div>
              <div class="form-group row">
                <label
                  for="description"
                  class="col-sm-3 text-right control-label col-form-label"
                  >Description</label
                >
                <div class="col-sm-9">
                  <textarea
                    [(ngModel)]="description"
                    name="description"
                    class="form-control"
                    placeholder="Briefly describe the meaning"
                  ></textarea>
                </div>
              </div>
            </div>
            <div class="border-top">
              <div class="card-body text-right">
                <button type="submit" class="col-3 btn btn-success mx-2">
                  Submit
                </button>
                <button type="reset" class="col-3 btn btn-primary mx-2">
                  Reset
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
