<section
  class="index"
  fxLayout="column"
  fxLayoutAlign="center center"
  fxLayoutAlign.gt-md="center center"
>
  <div
    class="index-container"
    fxLayout="column"
    fxLayoutAlign="space-around center"
  >
    <div class="index-img">
      <!-- <app-ngx-svg></app-ngx-svg> -->
      <img
        width="1350"
        height="400"
        alt="Angular Logo"
        src="https://firebasestorage.googleapis.com/v0/b/firestorecrud-cdd76.appspot.com/o/sri-lanka_625666661.jpg?alt=media&token=52cc1580-a22a-4dbc-95b5-fb225352381b"
      />
    </div>

    <div class="index-description">
      <h1 class="index-title block-title">
        SINHALA MEANINGS OF TECHNICAL WORDS
      </h1>
      <div class="index-text">
        THIS IS THE BETTER PLACE TO SUGGESTIONS AND DISCUSSIONS ABOUT SINHALA
        MEANING OF THE TECHNICAL WORDS
      </div>
    </div>

    <div class="index-btn btn1">
      <a
        class="index-btn__link btn"
        role="link"
        aria-label="ngx-restangular github repository"
        href="https://github.com/2muchcoffeecom/ngx-restangular/"
        target="_blank"
        rel="noopener"
        >Sign Up</a
      >
    </div>

    <div class="index-btn btn2">
      <a
        class="index-btn__link btn"
        role="link"
        aria-label="ngx-restangular github repository"
        href="https://github.com/2muchcoffeecom/ngx-restangular/"
        target="_blank"
        rel="noopener"
        >Sign In</a
      >
    </div>

    <div class="row ">
      <div class="col-md-6 paragraph1">
        <mat-card>
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book. It has survived not only
          five centuries, but also the leap into electronic typesetting,
          remaining essentially unchanged. It was popularised in the 1960s with
          the release of Letraset sheets containing Lorem Ipsum passages, and
          more recently with desktop publishing software like Aldus PageMaker
          including versions of Lorem Ipsum
        </mat-card>
      </div>

      <div class="col-md-6 paragraph2">
        <mat-card>
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book. It has survived not only
          five centuries, but also the leap into electronic typesetting,
          remaining essentially unchanged. It was popularised in the 1960s with
          the release of Letraset sheets containing Lorem Ipsum passages, and
          more recently with desktop publishing software like Aldus PageMaker
          including versions of Lorem Ipsum
        </mat-card>
      </div>
    </div>
  </div>
</section>
