<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box">
    <mat-card-header class="header">
      <mat-card-title>Log In</mat-card-title>
    </mat-card-header>

    <form class="login-form">
      <mat-card-content>
        <mat-form-field class="login-full-width">
          <input matInput placeholder="Email Address" />
        </mat-form-field>

        <mat-form-field class="login-full-width">
          <input matInput placeholder="Password" />
        </mat-form-field>
      </mat-card-content>
      <div fxLayout="row wrap" fxLayoutAlign="center" fxLayoutGap="20px">
        <button
          mat-stroked-button
          fxFlexAlign="start"
          color="primary"
          class="btn-box"
          type="submit"
        >
          Log in
        </button>
        <button
          mat-stroked-button
          fxFlexAlign="end"
          color="primary"
          class="btn-box"
          type="reset"
        >
          Clear
        </button>
      </div>
    </form>

    <p class="seperater">OR</p>

    <button mat-flat-button color="primary" class="btn-block">
        Use Google Sign-In
    </button>

    <p class="text-center" style="margin-top:40px">Haven't an account yet? <a routerLink="/auth/sign-up"> Register Now</a></p>
    <p class="text-center">Forgot the password? <a routerLink="."> Reset It</a></p>
  </mat-card>
</div>
