<div *ngIf="user">
  <div class="card">

    <div class="wrapper">

        <nav id="sidebar">
            <div class="sidebar-header" style="text-align: center;">
                <!-- <i class="fas fa-user" style="font-size: 65px; color: rgb(133, 13, 69);"></i> -->
                <img src=" assets/images/s.png" alt="profile image" class="img-thumbnail" style="border-radius: 50%; max-height: 140px;">
                <h4 style="padding-top: 10px; color: rgb(6, 29, 105); margin-bottom: 8px;"><i class="far fa-id-badge"></i> {{user.username}}</h4>
                <h5 style="color: crimson;"><i class="fas fa-star"></i> User Level: {{user.userLevel}}</h5>
            </div>

            <ul class="list-unstyled components" style="padding-left: 15px;">

                <li>
                    <a [routerLink]="['myprofile']" routerLinkActive="active"><i class="fas fa-id-card" style="font-size: 20px; padding-right: 15px;"></i>My Profile </a>
                </li>
                <li>
                    <a [routerLink]="['addedwords']" routerLinkActive="active"><i class="fab fa-weebly" style="font-size: 20px; padding-right: 15px;"></i>My Words</a>
                </li>
                <li>
                    <a [routerLink]="['suggestedwords']" routerLinkActive="active"><i class="fas fa-lightbulb" style="font-size: 20px; padding-right: 15px;"></i>My Suggestions</a>
                </li>
                <li>
                  <a [routerLink]="['mycomments']" routerLinkActive="active"><i class="fas fa-feather" style="font-size: 20px; padding-right: 15px;"></i>My Comments</a>
              </li>

            </ul>

        </nav>

        <!-- Page Content -->
        <div id="content-area" class="container">
          <router-outlet></router-outlet>
        </div>

    </div>

  </div>
</div>





