<link
  href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css"
  rel="stylesheet"
  id="bootstrap-css"
/>

<div class="container">
  <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-8">
    <div class="panel panel-info">
      <div class="panel-heading">
        <div class="panel-title">Insert An English Word</div>
      </div>

      <div style="padding-top:30px" class="panel-body">
        <div style="display:none" class="alert alert-danger col-sm-12"></div>
        <form class="form-horizontal" role="form">
          <div style="margin-bottom: 25px" class="input-group">
            <span class="input-group-addon"
              ><i class="glyphicon glyphicon-pencil"></i
            ></span>
            <input
              #word
              ngModel
              type="text"
              class="form-control"
              name="word"
              value=""
              placeholder="Enter English Word"
            />
          </div>

          <div style="margin-bottom: 25px" class="input-group">
            <span class="input-group-addon"
              ><i class="glyphicon glyphicon-list-alt"></i
            ></span>
            <textarea
              #meaning
              ngModel
              type="text"
              class="form-control"
              name="meaning"
              placeholder="Enter Meaning"
              rows="8"
            ></textarea>
          </div>

          <div [class.d-none]="show">
            <font color="green">You Successfully Added the Word </font>
          </div>
          <div [class.d-none]="empty">
            <font color="red"
              >Inserting Word and Meaning Must not be Empty
            </font>
          </div>

          <div style="margin-top:10px" class="form-group">
            <div class="col-sm-12 controls">
              <a
                id="btn-fblogin"
                href="#"
                class="btn btn-primary"
                (click)="submit(word.value, meaning.value)"
                >Submit Word</a
              >
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="box2" style="margin-top:50px;" class="mainbox col-md-4">
      <div class="panel panel-info">
        <div class="panel-heading">
          <div class="panel-title">Submitted Words By You</div>
        </div>

        <div class="panel-body">
          <div class="container2" style="padding:5ch;">
            <div *ngFor="let item of items">
              <h4 class="row">{{ item }}</h4>

              <div class="btn btn-primary row" style="float:right;">Delete</div>
              <hr style="border-width: 1px; border-color:darkseagreen; " />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- testing -->
<div>
  <p>Testing Start..............................</p>
  <li *ngFor="let word of listOfWords">{{ word }}</li>
  <p>Testing End ..............................</p>
</div>
